*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    transition: color 0.3s ease;
    font-size: 20px;
    color: black;
}

nav ul li:hover{
    color: red;
}

.menu-button{
    color: black;
    font-size: 23px;
}

/*.menu-button i{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}*/

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.logo img{
    width: 140px;
}

.logo img:hover{
    cursor: pointer;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    height: 400px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.row .text-1{
    font-size: 40px;
    font-weight: 500;
}

.row .text-2{
    font-size: 60px;
    font-weight: 700;
}

.row .text-3 span{
    color: rgb(252, 7, 56);
    font-weight: 500;
    font-size: 45px;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.button{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.button:hover{
    background: #563434;
}

a{
    text-decoration: none;
}


/*----------About-me----------*/

.row-about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-about-1 img{
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-about-2 h1{
    margin-right: 700px;
    margin-top: 30px;
    font-size: 45px;
}

.title-about-me{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-links::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #fa0a56;
    font-size: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*----------My Services----------*/

#services{
    padding: 30px 0;
}

.sub-title{
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #8b8585;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s transform 0.5s;
}

.services-list div i{
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}

/*----------My Projects----------*/


.col-1-projects{
   border: 3px solid rgb(16, 15, 15);
    border-radius: 5px;
}

.col-2-projects{
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
}

.col-1-projects h3{
    color: rgb(40, 52, 52);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
}

.col-2-projects h3{
    font-size: 25px;
}

.col-1-projects img{
    width: 100%;
    height: 300px;
    display: block;
    margin-top: 5px;
}

/*.layer-projects{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}*/

.col-1-projects:hover img{
    cursor: pointer;
}

.col-2-projects:hover img{
    cursor: pointer;
}


.contact-row{
    display: flex;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
}


.social-icon{
    margin-top: 30px;
}

.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: #ababab;
    transition: transfrom 0.5s;
}

.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 150px;
    cursor: pointer;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #f48b8b;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
/*----------Footer----------*/

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

a:hover{
    color: green;
}

